p{
    font-family: 'Rowdies', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 2.3em;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

hr{
    border-width: 3px;
    border-color: tomato;
}

.btn-xl{
    background-color:teal ;
    border-color:teal ;
    padding: 1rem 2rem;
    margin: 1em 1em 1em 1em;
    border-radius: 100px;
}
.btn-xl:hover{
    background-color: steelblue;
    border-color: steelblue;

}